.slide-in-right {
  animation: slideInRight 0.2s ease-out;
}

.slide-in-left {
  animation: slideInLeft 0.2s ease-out;
}

@keyframes slideInRight {
  from {
    transform: translateX(12px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-12px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
