body {
  color-scheme: light dark;
  color: var(--color-primary-dimmed);
  background-color: var(--background-color);
}

* {
  color-scheme: inherit;
}

.bg-base {
  background-color: var(--background-color) !important;
}

/* Text Color Utilities */
.text-default {
  color: var(--text-color-default, var(--color-primary));
}

.text-primary {
  color: var(--color-primary);
}

.text-primary-dimmed {
  color: var(--color-primary-dimmed);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-tertiary {
  color: var(--color-tertiary);
}

.text-quaternary {
  color: var(--color-quaternary);
}

.text-destructive {
  color: var(--color-destructive);
}

.text-destructive-dimmed {
  color: var(--color-destructive-dimmed);
}

.text-accent {
  color: var(--accent-color);
}

.text-accent-dimmed {
  color: var(--accent-color-dimmed);
}

.text-white {
  color: white;
}

/* Background Color Utilities (useful for icon masking) */
.bg-base {
  background-color: var(--background-color) !important;
}

.icon-default {
  background-color: var(--icon-color-default, var(--color-primary)) !important;
}

.icon-base {
  background-color: var(--color-primary) !important;
}

.icon-white {
  background-color: white !important;
}

.icon-secondary {
  background-color: var(--color-secondary) !important;
}

.icon-tertiary {
  background-color: var(--color-tertiary) !important;
}

.icon-quaternary {
  background-color: var(--color-quaternary) !important;
}

.icon-destructive {
  background-color: var(--color-destructive) !important;
}

.fg-base, .fg-primary {
  color: var(--color-primary) !important;
}

.fg-tertiary {
  color: var(--color-tertiary) !important;
}

.bg-dimmed {
  background-color: var(--alternate-background-color) !important;
}

.bg-destructive {
  background-color: var(--color-destructive) !important;
}

.bg-destructive-dimmed {
  background-color: var(--color-destructive-dimmed) !important;
}

.bg-success {
  background-color: var(--color-success) !important;
}

.bg-accent {
  background-color: var(--accent-color) !important;
}

.bg-accent-dimmed {
  background-color: var(--accent-color-dimmed) !important;
}

.bg-alternate {
  background-color: var(--alternate-background-color) !important;
}

.bg-highlight {
  background-color: var(--highlight-background-color) !important;
}

.bg-white {
  background-color: white !important;
}

.bg-black {
  background-color: black !important;
}
