a {
  text-decoration: none;
  cursor: pointer;
  color: var(--accent-color-dimmed); /* Default link color (moved from colors.css if it was there, or explicitly set here) */
}

a:visited {
  color: var(--accent-color-dimmed); /* Reset visited color */
}

a:hover {
  text-decoration: none;
  color: var(--accent-color);
}

.link-flat {
  color: var(--color-primary-dimmed);
}

.link-flat:visited {
  color: var(--color-primary-dimmed);
}

.link-flat:hover {
  color: var(--color-primary);
}

.link-destructive {
  color: var(--color-destructive-dimmed);
}

.link-destructive:visited {
  color: var(--color-destructive-dimmed);
}

.link-destructive:hover {
  color: var(--color-destructive);
}
