.safe-insets {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

@media (max-width: 720px) {
  :root {
    --font-size-xlarge: 20px;
    --font-size-large: 18px;
    --font-size-default: 16px;
    --font-size-small: 14px;
    --font-size-xsmall: 12px;

    --padding-sm: 10px;
    --padding-md: 12px;
    --padding-lg: 16px;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .table {
    display: flex;
    flex-direction: column;
  }

  .table thead {
    display: none;
  }

  .table tbody tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--color-border-primary);
  }

  .table tbody tr:last-child {
    border-bottom: none;
  }

  .table tbody td {
    display: grid;
    grid-template-columns: minmax(0.1fr, 0.3fr) 0.5fr;
    border-bottom: none;
    padding-top: var(--padding-md);
    padding-bottom: 0;
    row-gap: 0;
  }

  .table tbody td:last-child {
    padding-bottom: var(--padding-md);
  }

  .table tbody td[data-label]::before {
    content: attr(data-label) ": ";
    font-weight: var(--font-weight-heavier);
    font-size: var(--font-size-default);
    color: var(--color-fg-tertiary);
  }

  .checkbox {
    width: 28px;
    height: 28px;
  }
}
