/* Dialog Base Styles */
.dialog {
  border: 1px solid var(--color-border-primary);
  border-radius: var(--radius-lg);
  padding: var(--padding-sm);
}

.dialog::backdrop {
  background-color: var(--color-bg-primary-dimmed);
  opacity: 0.8;
}
