/* Column Base Styles */
.column {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
}

/* Row Base Styles */
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-md);
}

/* Spacer Base Styles */
.spacer {
  flex-grow: 1;
  flex-shrink: 1;
}

/* Grid Base Styles */
.grid {
  --grid-gap: var(--gap-md);
  display: grid;
  column-gap: var(--grid-gap);
  row-gap: var(--grid-gap);
}

.grid.flow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--grid-gap);
}
