/* Icon Base Styles */
.icon {
  display: inline-block;
  width: 22px;
  height: 22px;
}

/* Spinner Base Styles */
.spinner {
  display: inline-block;
  width: 22px;
  height: 22px;
  color: currentColor;
}

.spinner svg {
  width: 100%;
  height: 100%;
}

/* Avatar Base Styles */
.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid var(--color-border-primary);
  border-radius: 50%;
  background-color: var(--color-bg-primary);
  color: var(--color-fg-secondary);
  font-weight: var(--font-weight-heavier);
  overflow: hidden;
  flex-shrink: 0;
}
