/* Table Base Styles */
.table {
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  vertical-align: middle;
  width: 100%;
}

.table thead td,
.table th {
  font-weight: var(--font-weight-heavier);
  padding: calc(var(--padding-md) * 0.75) var(--padding-md);
  border-bottom: 1px solid var(--color-border-primary);
}

.table td {
  padding: calc(var(--padding-md) * 0.5) var(--padding-md);
  border-bottom: 1px solid var(--color-border-primary);
}

.table tr:last-child td {
  border-bottom: none;
}
